{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}
{% block extra_head %}<link rel="stylesheet" href="{%  static 'css/account/login.css' %}">{% endblock extra_head %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header bg-primary">
          
        </div>
        <div class="card-body">
          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
            

            <!-- Replace the link with a clickable Google image -->
            <a href="https://accounts.google.com/o/oauth2/auth?client_id=154937134517-3qufbgf8k3m3gq9jiubd7qa4s739ejcj.apps.googleusercontent.com&redirect_uri=https://tomamar707.pythonanywhere.com/accounts/google/login/callback/&scope=https://www.googleapis.com/auth/userinfo.email&response_type=code&access_type=offline"  class="btn btn-light">
              <img src="{% static 'images/Google.png' %}" alt="Google" style="max-width: 200px; margin-right: 10px;">
              
            </a>
            <br>

            <span id="alert-info-mt-3">{% trans 'or' %}</span>
          {% endif %}

          {% include "socialaccount/snippets/login_extra.html" %}

          <form class="form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
              <input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-secondary mt-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary" type="submit">Se connecter</button>
          </form>
          <br>
          <br>
          <br>
          <a href="{% url 'account_signup' %}" class="btn btn-success">Inscription</a>
            
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}