{% extends "base.html" %}

{% block title %}Mon Reseau  - Accueil{% endblock %}
{% load static %} 
{% block extra_head %}<link rel="stylesheet" href="{%  static 'css/postapp/home.css' %}">
<script src="{% static 'js/postapp/script.js' %}"></script>{% endblock %}
{% block content %}
    <a id ="bouton_post" href="{% url 'poster' %}">Poster une publication</a>
    
    {% if posts %}
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post-haut">
                    {% if post.author == user %}
                    <p><strong>Moi</strong> - {{ post.created_at }}</p>
                    {% else %}
                    <p><strong>{{ post.author.username }}</strong> - {{ post.created_at }}</p>
                    {% endif %}
                    </div>
                    {% if post.image %}
                    
                    <img src="{{post.image.url}}" class="img-fluid half-size" alt="post"  >
                
                    {% else %}

                    {% endif %}
                    
                    {% if post.shared_url %}
<a id="url" href="{{ post.shared_url }}" target="_blank">{{ post.shared_url }}</a>
{% endif %}
                    <p>{{ post.content }}</p>
                    
                    <button class="likes-count">{{ post.likes.count }}&#x2665;</button>
                    <div class="likes-list" style="display: none;">
                        <ul>
                          {% for user in post.likes.all %}
                            <li>{{ user.username }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                    {% if user in post.likes.all %}
    <form method="post" action="{% url 'like_post' post.id %}">
        {% csrf_token %}
        <button type="submit">&#x2665;</button>
    </form>
{% else %}
    <form method="post" action="{% url 'like_post' post.id %}">
        {% csrf_token %}
        <button type="submit">&#x1F90D;</button>
    </form>
{% endif %}


                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun post disponible pour le moment.</p>
    {% endif %}
</body>
</html>
{% endblock %}
