{% extends "base.html" %}

{% block title %}Mon Reseau  - Accueil{% endblock %}
{% load static %} 
{% block extra_head %}<link rel="stylesheet" href="{%  static 'css/postapp/home.css' %}">{% endblock %}

{% block content %}
    <a id ="bouton_post" href="{% url 'poster' %}">Poster une publication</a>
    
    {% if posts %}
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    {% if post.author == user %}
                    <p><strong>Moi</strong> - {{ post.created_at }}</p>
                    {% else %}
                    <p><strong>{{ post.author.username }}</strong> - {{ post.created_at }}</p>
                    {% endif %}
                    <p>{{ post.content }}</p>
                    {% if post.image %}
                    <img src="{{post.image.url}}" alt="post" style="width: 100px;height:100px" >
                    {% else %}

                    {% endif %}
                    <p>{{ post.likes.count }}</p>
                    {% if user in publication.likes.all %}
    <form method="post" action="{% url 'like_post' post.id %}">
        {% csrf_token %}
        <button type="submit">Unlike</button>
    </form>
{% else %}
    <form method="post" action="{% url 'like_post' post.id %}">
        {% csrf_token %}
        <button type="submit">Like</button>
    </form>
{% endif %}


                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun post disponible pour le moment.</p>
    {% endif %}
</body>
</html>
{% endblock %}