/* Style pour le pied de page */
footer {
    text-align: center;
    padding: 10px;
    background-color: #072fb2;
    color: #fff;
}

header {
    background-color: #f05b5bfa;
    color: #fff;
    text-align: center;
    background-color: #072fb2;

}


nav {
    
    display:flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
h1{
    color:rgb(0, 0, 0);
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

a {
    text-decoration: none; 
    color: inherit; 
}


a:visited {
    color: inherit; }

/* Réinitialisation des styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
html{
    margin-bottom: 150px;
    margin-top:20px;
}
h1 {
    
    color: #fff;
    padding: 10px;
    text-align: center;
}
