/* login.css */

/* Styles pour le formulaire de connexion */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #736262e5;
    text-align: center;
    margin: 5%;
}
/* Pour les éléments dans les formulaires */
form input {
    display: block;
    margin-bottom: 10px;
}


/* Styles pour les champs de saisie */
input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles pour le bouton de connexion */
button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
/* Pour les labels dans les formulaires */
label {
    display: flex; /* Fait apparaître chaque label sur une nouvelle ligne */
    flex-direction: column;
    margin-bottom: 5px; /* Ajoute un espacement entre chaque label */
}

/* Pour les champs de formulaire dans les formulaires */
input {
     /* Fait apparaître chaque champ sur une nouvelle ligne */
    margin-bottom: 10px; /* Ajoute un espacement entre chaque champ */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Autres styles pour le reste de la page (par exemple, en-tête, pied de page, etc.) */
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}