<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">

    {% block extra_head %}{% endblock %}

</head>
<body>
    <header>
        <h1 ><a href="{% url 'home' %}">T@M</a></h1>
        
   
    
        <nav>
            <ul>
                
                <!-- Autres éléments de navigation ici -->
                {% if user.is_authenticated %}
                <li><a href="{% url 'check_account' request.user %}">Mon Profil</a></li>
                <li><a href="{% url 'account_logout' %}">Déconnexion</a></li>
                
                {% else %}
                <li><a href="{% url 'account_login' %}">Connexion</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2023 - Tous droits réservés - Tom Amar.</p>
    </footer>
</body>
</html>

