/* Reset some default styles */


/* Apply some basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}



.posts {
    margin-top: 20px;
    margin-bottom: 30px;
}
.likes-count,.likes-list,button{
    float:left;
    margin-left:5px;
}

.likes-list{
  margin-top: 15px;
  
}


.post p:first-child {
    margin-bottom: 5px;
}

.post strong {
    color: #010e03;
}
/* Style de base pour le bouton "Poster une publication" */
#bouton_post{
    display: inline-block; /* Permet au lien de se comporter comme un bouton en ligne */
    padding: 10px 20px; /* Ajoutez du rembourrage autour du texte pour définir la taille */
    background-color: #007BFF; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold; /* Texte en gras */
    transition: background-color 0.3s, color 0.3s; /* Ajoute une transition en douceur pour le changement de couleur */
    margin-left:15px;
}

/* Style lorsque le curseur survole le bouton */
#bouton_post:hover {
    background-color: #0056b3; /* Nouvelle couleur de fond au survol */
}

/* Style lorsque le bouton est actif (clic) */
#bouton_post:active {
    background-color: #003a73; /* Nouvelle couleur de fond lors du clic */
}
#bouton_post{
    margin-top:20px;
}
.post {
    
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 200px;
    border-radius:25px;
    
}
.post:nth-child(odd){
    background-color:hwb(213 53% 7%);
}
.post:nth-child(even){
    background-color:#2b83f6;
}



.post h2,
.post p {
    margin-top: 0; /* Réduire la marge en haut du titre et du contenu */
}

.post p {
    
    word-wrap: break-word;
    overflow-x: hidden;
}
/* Appliquez un style à toutes les images de votre réseau social */



#url{
    color:hsla(242, 83%, 50%, 0.918);
    text-decoration: underline;
}
img {
   
    border: 1.5px solid hsl(0, 3%, 6%);
}
.half-size{
    max-width: 10%; /* Réduit la largeur de l'image de moitié */
    height:auto;
}
@media (max-width: 768px) {
    .half-size {
        max-width: 30%; /* Image occupe la largeur de son conteneur parent sans redimensionnement */
    }
}

.comform textarea {
    margin: 0px; 
    width: 355px; 
    height: 30px;
    
    
}
.comform label{
    display: none;
}

.comform button {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Stylisation des commentaires */
.comments {
    margin-top: 30px; /* Réduire l'espace au-dessus de la section des commentaires */
}

.comment {
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 3px;
    margin-top:5px;
}

.comment p {
    margin: 0;
}

.comment p strong {
    font-weight: bold;
    color: #fdfdfd;
}
